<h2>会員情報編集</h2>

<div class="customer_info_update" >

    <%= form_with model: @customer, url: public_customers_path, local: true do |f| %>

        <label for="frontname">氏名</label>
        <%= f.text_field :front_name %><br>
        <label for="backname"></label>
        <%= f.text_field :back_name %><br>
        <label for="firstname">フリガナ</label>
        <%= f.text_field :first_name %><br>
        <label for="lastname"></label>
        <%= f.text_field :last_name %><br>
        <label for="postcode">郵便番号</label>
        <%= f.text_field :post_code %><br>
        <label for="telnumber">電話番号</label>
        <%= f.text_field :tel_number %><br>
        <label for="address">メールアドレス</label>
        <%= f.text_field :email %><br>

        <%= f.submit "編集内容を保存" %>

</div>

    <% end %>

<div class="confirm" >
    <%= link_to '退会する', public_confirm_path %>
</div>