<table>
  <tr>
    <th>会員ID</th>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <th>氏名</th>
    <td><%= @customer.front_name + @customer.back_name %></td>
  </tr>
  <tr>
    <th>フリガナ</th>
    <td><%= @customer.first_name + @customer.last_name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @customer.post_code %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @customer.tel_number %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><% if @customer.is_customer_status %>
        <span>有効</span>
      <% else %>
        <span>退会</span>
      <% end %></td>
  </tr>
  <tr>
    <td>
      <%= link_to "編集", edit_admins_customer_path(@customer.id) %>
      <%= link_to "注文履歴", admins_orders_path %>
    </td>
  </tr>
</table>