<h4>商品一覧</h4>

<%= link_to "新商品追加", new_admin_item_path %>

　<table class="table table-hover text center">
　  <thead>
　    <th>商品ID</th>
　    <th>商品名</th>
　    <th>税抜き価格</th>
　    <th>ジャンル</th>
　  </thead>
　  <tbody>
　    <% @items.each do |item| %>
　    <tr>
　      <td><%= items.id %></td>
　      <td><%= link_to items name, admins_items_path(item) %></td>
　      <td><%= items.price %></td>
　      <td><%= items.genre.name %></td>
　    </tr>
　    <% end %>
　  </tbody>
　</table>
