<h2>新規登録商品</h2>
 <% if @item.errors.any? %>
  <%= @item.errors.counr %>件のエラーが発生しました。
  <% @item.errors.full_message.eachdo|message| %>
   <%= message %>
  <% end %>

  <%= form_with model: @item, url: admins_item_path, local :true do |f| %>
  <table>
    <tr>
      <th><%= f.label :image, "商品画像" %></th>
      <td><%= f.attachement_field :name %></td>
    </tr>
    <tr>
       <th><%= f.label :name,"商品名" %></th>
       <td><%= f.text_field :name %></td>
    </tr>
    <tr>
       <th><%= f.label :introduction, "商品説明" %></th>
       <td><%= f.text_field :name %></td>
    </tr>
    <tr>
       <th><%= f.label :genre, "ジャンル" %></th>
       <td><%= f.collection_select(:genre_id, @genres, :id, :name) %></td>
    </tr>
    <tr>
      <th><%= f.label :price, "税抜価格" %></th>
      <td><%=f.text_field :price %>円</td> "新規登録" %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= submit</td>
    </tr>
  </table>
  <% end %