<body class="top-body">
  <div class="top-container">
    <div class="top-title text pt-5">
      <h1 style="text-align:center;">NagaNo Cake</h1>
    </div>
        <div class="container">
      <div class="row slide-box">
        <div class="col-md-12 text-center">
          <div class="image_box">
            <div id="theTarget">
              <div class="image1"></div>
              <div class="image2"></div>
              <div class="image3"></div>
              <div class="image4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="top-comment mt-5">
        <p class="text" style="text-align:center;">
          ~Welcome to NagaNo Cake~</br>
          このサイトは NagaNo Cake店 の販売サイトです。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
   <div class="main-container">
    <div class="my-5">
      <h2 class="main-title" style="text-align:center;">〜NEW ITEMS〜</h2>
    </div>
    <div class="container">
      <div class="main-box">
        <div class="row">
          <% @items.first(4).each do |item| %>
            <div class="col-md-3 mx-auto item-box">
              <div class="image-link"><%= link_to item_path(item.id) do %>
              <%= attachment_image_tag item, :image, :fill, 250, 250, fallback: "no_image.jpg", size: "250x250" %></div>
              <% end %>
              <h5 class="text item_text pt-5 text-center"><%= item.name %></h5>
              <p class="text text-center">￥<%= item.price.to_s(:delimited) %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>

<%= link_to "logout", destroy_customer_session_path, method: :delete %>
<%= link_to "login", customer_session_path %>
<%= link_to "new", new_customer_registration_path %>
<%= link_to "マイページ", public_customers_path %>
<%# ↑ここは後程削除 %>