
<div class="container my-5">
  <div class="row">

  	<div class = "text-center">
    	<h3 class="text title-text">
    		Shopping Cart...
			</h3>
			</div>
		</div>
  </div>

	<% if @cart_items.empty? %>

		<div class = "row">
			<div class= "col-md-6 offset-md-3" >
				<h1 class="text">カートは空です</h1>
			</div>
		</div>

	<% else %>

	　<div class="row">
			<div class="col-10 mx-auto text">
				<%= link_to "空にする", "cart_items", class: "btn btn-danger", method: :delete %></br>
				<table class="mt-3 table table-bordered">
					<thead class = "table-active">
						<tr class="text">
							<th>商品名</th>
							<th>単価(税込)</th>
							<th>数量</th>
							<th>小計</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% set_price = 0 %>
						<% @cart_items.each do |cart_item| %>
						<tr class="light-text">
								<td>
									<%= cart_item.item.name %>
								</td>
								<td>
									<!--税込価格-->
									<%= cart_item.tax_including_price %>
								</td>
								<td>
									<%= form_with model: cart_item ,url: public_cart_item_path(cart_item), local: true do |f| %>
									<%= f.select :quantity, [[1,1],[2,2],[3,3],[4,4],[5,5]] %>
									<%= f.submit "Chenge", class: "btn btn-success" %>
									<%= f.hidden_field :customer_id, :value => current_customer.id %>
									<%= f.hidden_field :item_id, :value => cart_item.item.id %>
									<% end %>
								</td>
								<td>
								<!--小計-->
									<%= cart_item.sub_price %>
								</td>
								<td>
									<%= link_to "Delete", public_cart_item_path(cart_item), class: "btn btn-danger", method: :delete %>
								</td>
								<% set_price += cart_item.sub_price %>
							<% end %>
						</tr>
					</tbody>
				</table>
      </div>
		</div>

		<div class = "row">
			<div class = "offset-1 col-3">
				<table class="mt-3 table table-bordered">
					<thead class = "table-active text">
						<th>合計金額</th>
					</thead>
					<tbody>
						<td class="light-text">¥ <%= set_price %></td>
					</tbody>
				</table>
				<div class="text">
				  <%= link_to "←Back Shop", root_path, class: "btn btn-primary" %>
			  </div>
			  <div class="mt-3 text">
				<%= link_to "Delivery info→", new_public_order_path, class: "btn btn-success" %>
				</div>
			</div>
		</div>

  <% end %>
</div>