<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :front_name, "(姓)" %>
    <%= f.text_field :front_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :back_name, "(名)" %>
    <%= f.text_field :back_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :first_name, "(セイ)" %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, "(メイ)" %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :post_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :post_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :tel_number, "電話番号(ハイフンなし)" %>
    <%= f.text_field :tel_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード(6文字以上)" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<div class="registered" >
  <h2>既に登録済みの方</h2>
  <%= link_to 'こちら', customer_session_path %>からログインしてください
</div>

