
<div class="container my-5">

  <div class="row">
    <h3 class="mt-2 offset-3 title-text text">
	  Order...
	</h3>
  </div>

  <div class="row">
	<div class="mt-5 col-md-6 mx-auto">
    <%= form_with model: @order, url: public_orders_confilm_path, method: :POST, local: true do |f| %>
	    <%= f.hidden_field :customer_id, :value => current_customer.id %>

			<h4 class="text"><支払い方法></h4>
      <div class="light-text">
				<%= f.radio_button :method_of_payment, :クレジットカード, checked: true %>
				<%= f.label :method_of_payment, "クレジットカード" %>
				<%= f.radio_button :method_of_payment, :銀行振込 %>
				<%= f.label :method_of_payment, "銀行振込" %>
      </div>

			<h4 class="text"><お届け先></h4>
			<div class="form-check">
				<input class="form_check_input" type="radio" name="order_address" id="customer_address" value="option1" checked>
				<label class="form_check_label text" for="customer_address">
					ご自身の住所
				</label></br>
				<div class="light-text">
				  〒<%= current_customer.post_code %><%= current_customer.address %></br>
				　　　　　　<%= current_customer.last_name %><%= current_customer.first_name %>
			  </div>
			</div>

			<div class="form-check">
				<input class="form_check_input" type="radio" name="order_address" id="add_address" value="option2" >
				<label class="form_check_label text" for="add_address">
					登録済住所から選択
				</label></br>
				<div class="light-text">
		    	<%#= f.collection_select :select_address, @addresses, :id, :address_select %>
		    </div>
			</div>

			<div class="form-check">
				<input class="form_check_input" type="radio" name="order_address" id="new_address" value="option3" >
				<label class="form_check_label text" for="new_address">
					新しいお届け先
				</label></br>
				<div class="text">
					<%= f.label :shipping_code, "郵便番号（ハイフンなし）" %>
					<%= f.text_field :shipping_code, placeholder: "0000000" %></br>
					<%= f.label :shipping_address, "住所　　　　　　　　　　" %>
					<%= f.text_field :shipping_address, placeholder: "東京都渋谷区" %></br>
					<%= f.label :post_name, "宛名　　　　　　　　　　" %>
					<%= f.text_field :post_name, placeholder: "令和道子" %></br>
				</div>
			</div>

      <div class="mt-3 text">
				<%= f.submit "Confirmation→", class: "btn btn-primary", method: :POST %>
			</div>
	  <% end %>
		</div>
  </div>
</div>